/*
Tutorial Name: Scroll To Top Then Fixed Navigation Effect With JQuery and CSS
Description: Create a sticky navigation bar that remains fixed to the top after scroll
Author: Stanislav Kostadinov
Author URI: http://stanislav.it
Version: 1.0.0 - 11.01.2014
*/

html {
	scroll-behavior: smooth;
  }

* {margin: 0; padding: 0;}

a {text-decoration: none;}

/* This class is added on scroll */
.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
}

body {
	color: #fff;
	font-family: 'open-sans-bold'; 
	font-size: 18px;
	text-align: center;
}

/* Font Face Settings */
@font-face {
    font-family: 'open-sans-bold';
	src: url('../fonts/open-sans/OpenSans-Bold.eot');
    src: url('../fonts/open-sans/OpenSans-Bold.eot?iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/OpenSans-Bold.ttf');
    font-weight: normal;
}	

/* Navigation Settings */
nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: #fff;
}

nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
	color: #757575;
	text-transform: uppercase;
}

section {
	height: 100vh;
}

/* Screens Settings */
#screen1 {	
	background: #43b29d;
}

#screen1 {
}

#screen2 {
	background: #efc94d;
	padding: 10%;
}

#screen3 {
	background: #e1793d;
}

#screen4 {
	background: #681163;
}

#screen5 {
	background: #1d5d62;
}

#screen6 {
	background: #d49ad2;
}

@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

}



/* hdeud */

.slider {
	max-width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
  }
  .slide1,.slide2,.slide3,.slide4,.slide5 {
	position: absolute;
	width: 100%;
	height: 100%;
  }
  .slide1 {
	background: url('../img/lombok_dev.png')no-repeat center;
		background-size: cover;
	  animation:fade 20s infinite;
  -webkit-animation:fade 20s infinite;
  
  } 
  .slide2 {
	background: url('../img/lombok_dev.png')no-repeat center;
		background-size: cover;
	  animation:fade2 20s infinite;
  -webkit-animation:fade2 20s infinite;
  }
  .slide3 {
	background: url('../img/lombok_dev.png')no-repeat center;
		background-size: cover;
	  animation:fade3 20s infinite;
  -webkit-animation:fade3 20s infinite;
  }
  @keyframes fade
  {
	0%   {opacity:1}
	33.333% { opacity: 0}
	66.666% { opacity: 0}
	100% { opacity: 1}
  }
  @keyframes fade2
  {
	0%   {opacity:0}
	33.333% { opacity: 1}
	66.666% { opacity: 0 }
	100% { opacity: 0}
  }
  @keyframes fade3
  {
	0%   {opacity:0}
	33.333% { opacity: 0}
	66.666% { opacity: 1}
	100% { opacity: 0}
  }




  /* deded/ */

  .dd {
	height: 100%;
	width: 100%;
	margin: 50px auto;
	border-radius: 7px 7px 7px 7px;
	/* VIA CSS MATIC https://goo.gl/cIbnS */
	-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  
  .product-img {
	float: left;
	height: 100%;
	width: 20%;
  }
  
  .product-img img {
	border-radius: 7px 0 0 7px;
  }
  
  .product-info {
	float: left;
	height: 100%;
	width: 80%;
	border-radius: 0 7px 10px 7px;
	background-color: #ffffff;
  }
  
  .product-text {
	height: 84%;
	width: 95%;
  }
  
  .product-text h1 {
	margin: 0 0 0 38px;
	padding-top: 52px;
	font-size: 34px;
	color: #474747;
  }
  
  .product-text h1,
  .product-price-btn p {
	font-family: 'Bentham', serif;
  }
  
  .product-text h2 {
	margin: 0 0 47px 38px;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #d2d2d2;
	letter-spacing: 0.2em;
  }
  
  .product-text p {
	height: 125px;
	margin: 0 0 0 38px;
	font-family: 'Playfair Display', serif;
	color: #8d8d8d;
	line-height: 1.7em;
	font-size: 15px;
	font-weight: lighter;
	overflow: hidden;
  }
  
  .product-price-btn {
	height: 103px;
	width: 327px;
	margin-top: 17px;
	position: relative;
  }
  
  .product-price-btn p {
	display: inline-block;
	position: absolute;
	top: -13px;
	height: 50px;
	font-family: 'Trocchi', serif;
	margin: 0 0 0 38px;
	font-size: 28px;
	font-weight: lighter;
	color: #474747;
  }
  
  span {
	display: inline-block;
	height: 50px;
	font-family: 'Suranna', serif;
	/* font-size: 34px; */
  }
  
  .product-price-btn button {
	float: right;
	display: inline-block;
	height: 50px;
	width: 176px;
	margin: 0 40px 0 16px;
	box-sizing: border-box;
	border: transparent;
	border-radius: 60px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	background-color: #9cebd5;
	cursor: pointer;
	outline: none;
  }
  
  .product-price-btn button:hover {
	background-color: #79b0a1;
  }