/*
Tutorial Name: Scroll To Top Then Fixed Navigation Effect With JQuery and CSS
Description: Create a sticky navigation bar that remains fixed to the top after scroll
Author: Stanislav Kostadinov
Author URI: http://stanislav.it
Version: 1.0.0 - 11.01.2014
*/

html {
	scroll-behavior: smooth;
  }

* {margin: 0; padding: 0 !important;}

a {text-decoration: none;}

/* This class is added on scroll */
.fixed {
	position: fixed !important; 
	top: 0; 
	height: 70px !important; 
	z-index: 1;
}

body {
	color: #fff;
	font-family: 'open-sans-bold'; 
	font-size: 18px;
}

/* Font Face Settings */
@font-face {
    font-family: 'open-sans-bold';
	src: url('../fonts/open-sans/OpenSans-Bold.eot');
    src: url('../fonts/open-sans/OpenSans-Bold.eot?iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/OpenSans-Bold.ttf');
    font-weight: normal;
}	

/* Navigation Settings */
.menunya {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: #fff;
	text-align: center;
}

.menunya li {
	display: inline-block;
	padding: 24px 10px !important;
}

.menunya li a {
	color: #757575;
	text-transform: uppercase;
}

section {
	height: 100vh;
}

/* Screens Settings */
#screen1 {	
	background: #43b29d;
}

#screen1 {
}

#screen2 {
	background: #6768a2;
	padding-top: 1% !important;
	padding-bottom: 1% !important;
	padding-left: 14% !important;
	padding-right: 14% !important;
}

#screen3 {
	/* background: #e1793d; */
}

#screen4 {
	background: #681163;
}

#screen5 {
	background: #1d5d62;
}

#screen6 {
	background: #d49ad2;
}
.sembunyi-desktop{
	display: none
}
@media only screen and (min-width: 1000px) {
	#screen8{
		background: red !important;
		display: none;
	}
}
@media only screen and (max-width: 520px) {
	.sembunyi-desktop{
		background: #23232b;
		display: block;
	}

	.iphone{
		display: none !important
	}

	.card-content {
		height: 148px !important;
	}

	.menunya li {
		padding: 24px 4px;
	}

	.menunya li a {
		font-size: 14px;
	}

	span{
		font-size: 30px;
	}

	ul{
		background: white
	}
	.product-img{
		display: none;
	}
	.product-info{
		width: 100% !important;
		border-radius: 11px 7px 10px 7px !important;
	}
	.detail_acara{
		height: auto;
	}
	.dd{
		height: 94% !important;
	}
	#screen2{
		height: 152vh !important;
		padding: 18px !important;
	}
	#screen3{
		height: 166vh !important;
	}
	.waktu-dan-tempat{
		margin: 0px !important;
	}
	.bulat{
		display: block !important;
	}
	.tombolDesktop{
		display: none !important;
	}
	.demo-text{
		font-size: 3em;
	}
	#screen5{
		height: 111vh;
	}
	#screen7{
		display: block;
	}
	.waktu{
		width: 100% !important
	}
	.mapouter{margin-top: 16px;}
	.textmateri{width: 100% !important}
}

@media only screen and (max-width: 320px) {
	.mapouter{height: 350px !important;}
	.background-zoom{display: none !important}
	.iphone{display: block !important}
}

@media only screen and (max-width: 520px) {
	#screen5{
		height: 111vh !important;
	}
	#screen7{
		display: block;
	}
}

@media only screen and (min-width: 520px) {
	.card-detail{
		margin: 10px;
	}
}

@media only screen and (max-width: 400px) {
	.detail_acara{
		font-size: medium !important
	}
	.dd {
		height: 80% !important;
	}
	.bulat{
		display: block !important;
	}
	.tombolDesktop{
		display: none !important;
	}
	.demo-text{
		font-size: 3em;
	}
	#screen7{
		display: block;
	}
}

/* hdeud */

.slider {
	max-width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
  }
  .slide1,.slide2,.slide3,.slide4,.slide5 {
	position: absolute;
	width: 100%;
	height: 100%;
  }
  .slide1 {
	background: url('../img/lombok_dev.png')no-repeat center;
		background-size: cover;
	  animation:fade 20s infinite;
  -webkit-animation:fade 20s infinite;
  
  } 
  .slide2 {
	/* background: url('../img/lombok_dev.png')no-repeat center; */
	background: green no-repeat center;
		background-size: cover;
	  animation:fade2 8s infinite;
  -webkit-animation:fade2 2s infinite;
  }
  .slide3 {
	background: url('../img/lombok_dev.jpg')no-repeat center;
		background-size: cover;
	  animation:fade3 20s infinite;
  -webkit-animation:fade3 20s infinite;
  }
  @keyframes fade
  {
	0%   {opacity:1}
	33.333% { opacity: 0}
	66.666% { opacity: 0}
	100% { opacity: 1}
  }
  @keyframes fade2
  {
	0%   {opacity:0}
	33.333% { opacity: 1}
	66.666% { opacity: 0 }
	100% { opacity: 0}
  }
  @keyframes fade3
  {
	0%   {opacity:0}
	33.333% { opacity: 0}
	66.666% { opacity: 1}
	100% { opacity: 0}
  }




  /* deded/ */

  .dd {
	height: 82%;
	width: 100%;
	margin: 50px auto;
	border-radius: 7px 7px 7px 7px;
	/* VIA CSS MATIC https://goo.gl/cIbnS */
	-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  
  .product-img {
	float: left;
	height: 100%;
	width: 20%;
  }
  
  .product-img img {
	border-radius: 7px 0 0 7px;
  }
  
  .product-info {
	float: left;
	height: 100%;
	width: 80%;
	border-radius: 0 7px 10px 7px;
	background-color: #ffffff;
	text-align: center;
  }
  
	.product-text {
    height: 84%;
    width: 81%;
	}
  
  .product-text h1 {
	margin: 0 0 0 38px;
	padding-top: 52px !important;
	font-size: 34px;
	color: #474747;
  }
  
  .product-text h1,
  .product-price-btn p {
	font-family: 'Bentham', serif;
  }
  
  .product-text h2 {
	margin: 0 0 47px 38px;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #d2d2d2;
	letter-spacing: 0.2em;
  }
  
  .product-text p {
	margin: 0 0 0 38px;
	font-family: 'Playfair Display', serif;
	color: #8d8d8d;
	line-height: 1.7em;
	font-size: 22px;
	font-weight: lighter;
	overflow: hidden;
  }
  
  .product-price-btn {
	height: 103px;
	width: 327px;
	margin-top: 17px;
	position: relative;
  }
  
  
  .product-price-btn button {
	float: right;
	display: inline-block;
	height: 50px;
	width: 176px;
	margin: 0 40px 0 16px;
	box-sizing: border-box;
	border: transparent;
	border-radius: 60px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	background-color: #9cebd5;
	cursor: pointer;
	outline: none;
  }
  
  .product-price-btn button:hover {
	background-color: #79b0a1;
	}
	


	/* deded */


	.label {
		color: black;
		font-size: 28px;
		padding: 4px 15px;
	}
	.top-left {
		position: absolute;
		transform: rotate(-90deg) scaleX(-1);
		transform-origin: top left;
		padding-left: 7% !important;
	}
	.top-left .content {
		transform: scaleX(-1);
	}


/* kokok */


	.night {
		left: -367px;
		position: absolute;
		width: 100%;
		height: 100%;
		transform: rotateZ(45deg);
	}
	.shooting_star {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 2px;
		background: linear-gradient(-45deg, black, rgba(0, 0, 255, 0));
		border-radius: 999px;
		filter: drop-shadow(0 0 6px rgb(42, 57, 88));
		animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
	}
	.shooting_star::before, .shooting_star::after {
		content: '';
		position: absolute;
		top: calc(50% - 1px);
		right: 0;
		height: 2px;
		background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(46, 54, 73), rgba(0, 0, 255, 0));
		transform: translateX(50%) rotateZ(45deg);
		border-radius: 100%;
		animation: shining 3000ms ease-in-out infinite;
	}
	.shooting_star::after {
		transform: translateX(50%) rotateZ(-45deg);
	}
	.shooting_star:nth-child(1) {
		top: calc(50% - -3px);
		left: calc(50% - 92px);
		animation-delay: 6899ms;
	}
	.shooting_star:nth-child(1)::before, .shooting_star::after:nth-child(1), .shooting_star:nth-child(1)::after {
		animation-delay: 6899ms;
	}
	.shooting_star:nth-child(2) {
		top: calc(50% - 170px);
		left: calc(50% - 138px);
		animation-delay: 5943ms;
	}
	.shooting_star:nth-child(2)::before, .shooting_star::after:nth-child(2), .shooting_star:nth-child(2)::after {
		animation-delay: 5943ms;
	}
	.shooting_star:nth-child(3) {
		top: calc(50% - 135px);
		left: calc(50% - 173px);
		animation-delay: 8818ms;
	}
	.shooting_star:nth-child(3)::before, .shooting_star::after:nth-child(3), .shooting_star:nth-child(3)::after {
		animation-delay: 8818ms;
	}
	.shooting_star:nth-child(4) {
		top: calc(50% - -49px);
		left: calc(50% - 220px);
		animation-delay: 9544ms;
	}
	.shooting_star:nth-child(4)::before, .shooting_star::after:nth-child(4), .shooting_star:nth-child(4)::after {
		animation-delay: 9544ms;
	}
	.shooting_star:nth-child(5) {
		top: calc(50% - 45px);
		left: calc(50% - 288px);
		animation-delay: 222ms;
	}
	.shooting_star:nth-child(5)::before, .shooting_star::after:nth-child(5), .shooting_star:nth-child(5)::after {
		animation-delay: 222ms;
	}
	.shooting_star:nth-child(6) {
		top: calc(50% - 195px);
		left: calc(50% - 70px);
		animation-delay: 3559ms;
	}
	.shooting_star:nth-child(6)::before, .shooting_star::after:nth-child(6), .shooting_star:nth-child(6)::after {
		animation-delay: 3559ms;
	}
	.shooting_star:nth-child(7) {
		top: calc(50% - -147px);
		left: calc(50% - 260px);
		animation-delay: 2917ms;
	}
	.shooting_star:nth-child(7)::before, .shooting_star::after:nth-child(7), .shooting_star:nth-child(7)::after {
		animation-delay: 2917ms;
	}
	.shooting_star:nth-child(8) {
		top: calc(50% - -55px);
		left: calc(50% - 215px);
		animation-delay: 6267ms;
	}
	.shooting_star:nth-child(8)::before, .shooting_star::after:nth-child(8), .shooting_star:nth-child(8)::after {
		animation-delay: 6267ms;
	}
	.shooting_star:nth-child(9) {
		top: calc(50% - -103px);
		left: calc(50% - 293px);
		animation-delay: 837ms;
	}
	.shooting_star:nth-child(9)::before, .shooting_star::after:nth-child(9), .shooting_star:nth-child(9)::after {
		animation-delay: 837ms;
	}
	.shooting_star:nth-child(10) {
		top: calc(50% - -96px);
		left: calc(50% - 153px);
		animation-delay: 4033ms;
	}
	.shooting_star:nth-child(10)::before, .shooting_star::after:nth-child(10), .shooting_star:nth-child(10)::after {
		animation-delay: 4033ms;
	}
	.shooting_star:nth-child(11) {
		top: calc(50% - 154px);
		left: calc(50% - 193px);
		animation-delay: 5675ms;
	}
	.shooting_star:nth-child(11)::before, .shooting_star::after:nth-child(11), .shooting_star:nth-child(11)::after {
		animation-delay: 5675ms;
	}
	.shooting_star:nth-child(12) {
		top: calc(50% - 40px);
		left: calc(50% - 184px);
		animation-delay: 9366ms;
	}
	.shooting_star:nth-child(12)::before, .shooting_star::after:nth-child(12), .shooting_star:nth-child(12)::after {
		animation-delay: 9366ms;
	}
	.shooting_star:nth-child(13) {
		top: calc(50% - 175px);
		left: calc(50% - 215px);
		animation-delay: 9862ms;
	}
	.shooting_star:nth-child(13)::before, .shooting_star::after:nth-child(13), .shooting_star:nth-child(13)::after {
		animation-delay: 9862ms;
	}
	.shooting_star:nth-child(14) {
		top: calc(50% - 68px);
		left: calc(50% - 282px);
		animation-delay: 7852ms;
	}
	.shooting_star:nth-child(14)::before, .shooting_star::after:nth-child(14), .shooting_star:nth-child(14)::after {
		animation-delay: 7852ms;
	}
	.shooting_star:nth-child(15) {
		top: calc(50% - 47px);
		left: calc(50% - 91px);
		animation-delay: 639ms;
	}
	.shooting_star:nth-child(15)::before, .shooting_star::after:nth-child(15), .shooting_star:nth-child(15)::after {
		animation-delay: 639ms;
	}
	.shooting_star:nth-child(16) {
		top: calc(50% - -156px);
		left: calc(50% - 279px);
		animation-delay: 2121ms;
	}
	.shooting_star:nth-child(16)::before, .shooting_star::after:nth-child(16), .shooting_star:nth-child(16)::after {
		animation-delay: 2121ms;
	}
	.shooting_star:nth-child(17) {
		top: calc(50% - -104px);
		left: calc(50% - 244px);
		animation-delay: 7390ms;
	}
	.shooting_star:nth-child(17)::before, .shooting_star::after:nth-child(17), .shooting_star:nth-child(17)::after {
		animation-delay: 7390ms;
	}
	.shooting_star:nth-child(18) {
		top: calc(50% - -33px);
		left: calc(50% - 70px);
		animation-delay: 8208ms;
	}
	.shooting_star:nth-child(18)::before, .shooting_star::after:nth-child(18), .shooting_star:nth-child(18)::after {
		animation-delay: 8208ms;
	}
	.shooting_star:nth-child(19) {
		top: calc(50% - -153px);
		left: calc(50% - 178px);
		animation-delay: 112ms;
	}
	.shooting_star:nth-child(19)::before, .shooting_star::after:nth-child(19), .shooting_star:nth-child(19)::after {
		animation-delay: 112ms;
	}
	.shooting_star:nth-child(20) {
		top: calc(50% - -56px);
		left: calc(50% - 186px);
		animation-delay: 6067ms;
	}
	.shooting_star:nth-child(20)::before, .shooting_star::after:nth-child(20), .shooting_star:nth-child(20)::after {
		animation-delay: 6067ms;
	}
	@keyframes tail {
		0% {
			width: 0;
		}
		30% {
			width: 100px;
		}
		100% {
			width: 0;
		}
	}
	@keyframes shining {
		0% {
			width: 0;
		}
		50% {
			width: 30px;
		}
		100% {
			width: 0;
		}
	}
	@keyframes shooting {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(300px);
		}
	}
	@keyframes sky {
		0% {
			transform: rotate(45deg);
		}
		100% {
			transform: rotate(405deg);
		}
	}
	
/* d,ede */

	::-webkit-scrollbar {
		width: 1px;
		height: 1px;
	}
	::-webkit-scrollbar-button {
		width: 1px;
		height: 1px;
	}
	.horizontal-scroll-wrapper {
		display: block;
		width: calc(450px + 1px);
		max-height: 750px;
		margin: 0;
		padding-top: 1px;
		background: #abc;
		overflow-y: auto;
		overflow-x: hidden;
		transform: rotate(-90deg) translateY(-250px);
		transform-origin: right top;
	}
	.horizontal-scroll-wrapper > div {
		display: block;
		padding: 5px;
		background: #cab;
		transform: rotate(90deg);
		transform-origin: right top;
	}
	.squares {
		padding: 250px 0 0 0;
	}
	.squares > div {
		width: 250px;
		height: 250px;
		margin: 10px 0;
	}
	


	/* /dededed/ */

.tablediv {
  display: table;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.tablediv .cell {
  display: table-cell;
  vertical-align: middle;
}
.bulat {
  display: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #818181;
  border-radius: 50%;
  background: rgb(243, 82, 33);
  margin: 0 auto;
  font-size: 16px;
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 92;
}
.nveMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 320px;
  height: 100%;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  transform: translateX(-320px);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  padding: 40px 20px;
}
.nveMenu.is-opened {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.nveMenu h1 {
  color: #000;
  font-weight: 700;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 320px);
  height: 100%;
  background: rgba(0, 0, 0, 0.71);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
.overlay.is-on {
  opacity: 1;
  visibility: visible;
}
.navlinks li {
  display: block;
  padding: 12px 0;
}
.navlinks li a {
  text-transform: uppercase;
  color: #666;
  font-weight: 700;
}
.navlinks li a:hover {
  text-decoration: none;
}


/* mmfrfmr */


.card-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: stretch;
}
.card-container {
	flex: 1;
	margin: 20px;
/*   max-width: 400px; */
	max-width:100%;
	background: rgb(255,255,255);
	background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
	-webkit-box-shadow: 0 4px 10px rgba(0,0,0,.4), 0 5px 15px rgba(0,0,0,.1);
	-moz-box-shadow: 0 4px 10px rgba(0,0,0,.4), 0 5px 15px rgba(0,0,0,.1);
	box-shadow: 0 4px 10px rgba(0,0,0,.4), 0 5px 15px rgba(0,0,0,.1);
}
.card-profile .card-container {
	min-width:400px;
	max-width:400px;
	
}
.card-bg-img {
	display: block;
	min-height: 120px;
}
.card-profile-img {
	position: relative;
}
.card-profile-img > img {
	height:100px;
	width:100px;
	border-radius: 50%;
	border: 2px solid white;
	position: absolute;
	top: -50px;
	left: 15px;
}
.card-heading {
	padding: 10px 30px 0;
	min-height: 50px;
}
.card-profile .card-heading {
	margin-left: calc(100px + 15px);
}
.card-title, 
.card-subtitle {
	display:block;
	padding-top: 5px;
}
.card-title { 
	font-size: 1.25rem;
}
.card-body {
	padding: 20px 30px 30px;
}

.bg1 {
	background: url(https://placeimg.com/300/150/nature);
	background-size: cover;
}
.bg2 {
	background: url(https://placeimg.com/300/150/arch);
	background-size: cover;
}
.bg3 {
	background: url(https://placeimg.com/300/150/animals);
	background-size: cover;
}
.bg4 {
	background: url(https://placeimg.com/300/150/tech);
	background-size: cover;
}


/* materi */


.materi {
	height: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	line-height: 1.4;
	color: #ffdebd;
	margin: 1rem;
	height: 100vh;
	overflow: hidden;
}
.module {
	max-width: 400px;
	padding: 3rem;
	background: #f06d06;
}
.module h2 {
	color: white;
	margin: 0 0 1rem 0;
	font-family: 'Roboto', sans-serif;
}
.module p {
	margin: 0;
}


.container-fluid {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	width: 100%;
}
.media {
	/* background-position: center; */
	/* background-size: cover; */
	height: 100%;
	position: absolute;
	transition: all 0.3s ease;
	width: 100%;
}
figure {
	height: 89%;
	overflow: hidden;
	position: relative;
	
}
figure a {
	height: 100%;
	width: 100%;
	z-index: 3;
}
figure:hover .media {
	transform: scale(1.25);
	/* transform: rotate(90deg); */
}
figcaption {
	color: #252830;
	height: calc(100% - 30px);
	margin: 15px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.materinya {
	background-color: white;
	bottom: 0;
	padding: 15px;
	position: absolute;
	width: 100%;
}
.textmateri {
	background-color: white;
	bottom: 0;
	padding: 36px !important;
	position: absolute;
	width: 97%;
	height: 100%;
}


.ml15 {
font-weight: 800;
font-size: 3.8em;
text-transform: uppercase;
letter-spacing: 0.5em;
}

.ml15 .word {
display: inline-block;
line-height: 1em;
}

#screen7{
	display: none;
}

#screen8{
	background: #4e3b3b;
	/* display: none */
}
#screen13{
	background: #296f46cf;
}

.sembunyi{
	display: none !important;
}


.card {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
		background-color: #fff;
		border-radius: 0px !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px !important;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

.card-pemateri{
	padding: 10% !important;
	padding-top: 0px !important;
	justify-content: center;
	width: 100%;
}

.img-thumbnail{border-radius: 0px !important}
.tengah{display: flex; justify-content: center}
.setengah-atas{padding: 30% !important}


/* dekjde,ijd */

.example_e {
	border: none;
	background: #404040;
	color: #ffffff !important;
	font-weight: 100;
	padding: 20px !important;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	}

	.example_e:hover {
		color: #404040 !important;
		font-weight: 700 !important;
		letter-spacing: 3px;
		background: none;
		-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
		-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
		transition: all 0.3s ease 0s;
		}


		/* api */

		